@use "../abstract" as *;

header {
    background-color: $green-light;
}

header_wrapper {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    text-align: center;
    align-items: center;
    margin-inline: 4rem;

    &-listItem {
        text-decoration: none;
        padding: 0.5rem;
        align-items: center;
        border: 1px solid whitesmoke;
    }
}

h1 {
    text-align: center;

}

ul {
    display: flex;
    padding-left: 0;
}

li {
    list-style-type: none;
}
